@font-face {
    font-family: CafeNeroM54;
    src: url(/fonts/Cafe_Nero_M54.ttf);
}

@font-face {
    font-family: Fredoka;
    src: url(/fonts/Fredoka.ttf);
}

html {
    font-family: Fredoka;
    margin-top: 0.5%;
    background-color: rgb(53, 53, 53);
    color: white;
}

h1 {
    font-family: CafeNeroM54;
    font-size: 48px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 20px black;
}

a {
    color: rgb(255, 224, 45);
}

.hoverbig {
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.hoverbig:hover {
    transform: scale(1.1);
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodeco {
    text-decoration: none;
}

.textglow:hover {
    text-shadow: 0px 0px 5px;
}